<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <%- include("menu"); %>
    <!-- Start your project here-->
    <!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-color: #eee;">
      <!-- Title -->
      <img src="/images/logo.png" />
      <!-- Card image -->
      <div class="view overlay my-4">
        <video id="vid" width="640" height="360" loop autoplay class="video-fluid" style="margin : auto;">
          <source src="/videos/opening.mp4" type="video/mp4">
        </video>
    </div>
    <!-- Jumbotron -->
    <!-- End your project here-->
    <%- include("footer"); %>
    
  </body>
</html>
