body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,
p {
  text-align: center;
}

#game {
  width: 450px;
  height: 320px;
}

#list {
  border: 1px solid gray;
  width: 300px;
  height: 100px;
  overflow: auto;
  margin-bottom: 10px;
}

#logs {
  border: 1px solid gray;
  width: 300px;
  height: 100px;
  overflow: auto;
  margin-bottom: 10px;
}

table {
  margin-bottom: 20px;
  text-align: center;
  background-color: #8b0b0b;
  padding: 0;
}

.brow-board td {
  width: 50px !important;
  height: 80px;
}

.brow-board td img {
  width: 50px !important;
  height: 80px;
}
